body{
    background: linear-gradient(rgb(156, 124, 124),rgb(133, 83, 83),rgb(255, 136, 136));
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}


a{
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 3px solid black;
    background: linear-gradient(rgba(255, 215, 215, 0.6),rgba(185, 64, 64, 0.6));
    box-shadow: 0 0 100px;
}

.logo{
    display: flex;
    margin-left: 30px;
    border: 2px solid rgb(228, 130, 130);
    margin: 20px;
    margin-left: 40px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(228, 130, 130);
    padding-right: 20px;
    padding-left: 20px;
    background: linear-gradient(rgb(228, 130, 130),rgb(240, 96, 96));
    text-decoration: none;
    transition: 1s;
}

.logo:hover{
    transition: 0.2s;
    box-shadow: 0 0 30px yellow;
    border: 2px solid yellow;
}

.text-logo{
    font-size: 50px;
    margin-left: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    margin-top: 25px;
    text-decoration: none;
    color: black;
}

.img-logo{
    width: 100px;
    height: 100px;
}

.header-component{
    display: flex;
    margin: 20px;
    margin-right: 100px;
    margin-top: 55px;
    text-decoration: none;
}

.text-header{
    font-size: 30px;
    text-decoration: none;
    color: white;
    transition: 1s;
}

.text-header:hover{
    transition: 0.2s;
    color: yellow;
    text-shadow:0 0 15px yellow;
}

.header-container{
    margin-right: 30px;
}

.img-header-catalog{
    width: 50px;
    height: 30px;
}

.img-header{
    width: 30px;
    height: 30px;
}






footer{
    border-top: 3px solid black;
    background: linear-gradient(rgb(41, 2, 2),black);
    height: 200px;
    box-shadow: 0 0 100px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-img{
    width: 30px;
    height: 30px;
}

.footer-icons{
    margin-top: 100px;
    margin-right: 50px;
}

.text-social{
    text-decoration: none;
    color: white;
    font-size: 35px;
    transition: 0.5s;
}

.text-social:hover{
    color: yellow;
    text-shadow:0 0 5px yellow;
    transition: 0.2s;
}

.footer-text{
    font-size: 30px;
    color: white;
    margin-top: 140px;
}

@media (max-width: 1200px) {
    .text-logo {
        font-size: 40px;
    }
    
    .header-component {
        margin-right: 50px;
        margin-top: 45px;
    }
    
    .text-header {
        font-size: 26px;
    }
    
    .footer-text {
        font-size: 26px;
        margin-top: 120px;
    }
    
    .text-social {
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .logo {
        margin: 15px;
        margin-left: 15px;
        justify-content: center;
    }
    
    .text-logo {
        font-size: 36px;
        margin-top: 20px;
    }
    
    .img-logo {
        width: 80px;
        height: 80px;
    }
    
    .header-component {
        margin: 0;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header-container {
        margin: 10px 20px;
    }
    
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }
    
    .footer-icons {
        margin-top: 40px;
        margin-right: 0;
        display: flex;
        gap: 40px;
    }
    
    .footer-text {
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .logo {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .text-logo {
        font-size: 32px;
        margin-left: 15px;
    }
    
    .img-logo {
        width: 70px;
        height: 70px;
    }
    
    .header-component {
        gap: 5px;
    }
    
    .header-container {
        margin: 5px 15px;
    }
    
    .text-header {
        font-size: 22px;
    }
    
    .img-header-catalog {
        width: 40px;
        height: 25px;
    }
    
    .img-header {
        width: 25px;
        height: 25px;
    }
    
    footer {
        height: auto;
        min-height: 180px;
    }
    
    .footer-text {
        font-size: 24px;
    }
    
    .text-social {
        font-size: 26px;
    }
}

@media (max-width: 480px) {
    .logo {
        margin: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .text-logo {
        font-size: 28px;
        margin-left: 10px;
        margin-top: 15px;
    }
    
    .img-logo {
        width: 60px;
        height: 60px;
    }
    
    .header-component {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .header-container {
        margin: 5px 0;
    }
    
    .text-header {
        font-size: 20px;
    }
    
    .img-header-catalog {
        width: 35px;
        height: 20px;
    }
    
    .img-header {
        width: 20px;
        height: 20px;
    }
    
    .footer-container {
        padding: 20px 15px;
    }
    
    .footer-icons {
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    
    .footer-text {
        font-size: 20px;
    }
    
    .text-social {
        font-size: 22px;
    }
}